[submodule ".registry"]
	path = .registry
	url = https://github.com/sounkou-bioinfo/sounkou-bioinfo.r-universe.dev
	branch = HEAD
[submodule "RBCFLib"]
	path = RBCFLib
	url = https://github.com/sounkou-bioinfo/RBCFLib
[submodule "Rlibhv"]
	path = Rlibhv
	url = https://github.com/sounkou-bioinfo/Rlibhv
[submodule "bcflib"]
	path = bcflib
	url = https://github.com/sounkou-bioinfo/bcflib
[submodule "goserveR"]
	path = goserveR
	url = https://github.com/sounkou-bioinfo/goServeR
[submodule "rbcf"]
	path = rbcf
	url = https://github.com/sounkou-bioinfo/rbcf
[submodule "vcfppR"]
	path = vcfppR
	url = https://github.com/Zilong-Li/vcfppR
	registered = false
