[submodule ".registry"]
	path = .registry
	url = https://github.com/sounkou-bioinfo/sounkou-bioinfo.r-universe.dev
	branch = HEAD
[submodule "RBCFLib"]
	path = RBCFLib
	url = https://github.com/sounkou-bioinfo/RBCFLib
[submodule "Rclib"]
	path = Rclib
	url = https://github.com/sounkou-bioinfo/Rclib
[submodule "Rlibhv"]
	path = Rlibhv
	url = https://github.com/sounkou-bioinfo/Rlibhv
[submodule "Rpixpack"]
	path = Rpixpack
	url = https://github.com/sounkou-bioinfo/pixpack
[submodule "goserveR"]
	path = goserveR
	url = https://github.com/sounkou-bioinfo/goServeR
[submodule "rbcf"]
	path = rbcf
	url = https://github.com/sounkou-bioinfo/rbcf
